[submodule "catalog/includes/modules/payment/feefighter/samurai-client-php"]
	path = catalog/includes/modules/payment/feefighter/samurai-client-php
	url = https://seanharper@github.com/FeeFighters/samurai-client-php.git